body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{    
    float: left;    
    clear: left;    
    width: 100%;    
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;

}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

label 
{
    float: left;    
    width: 10em;    
    margin-right: 1em; 
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

fieldset ol 
{  
    padding: 1em 1em 0 1em;  
    list-style: none;  
}  

fieldset li {  
    padding-bottom: 1em;  
}  

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
